@import url('https:fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: 0;
   font-family: "Inter";
}
:root {
   --primary: #ffffff;
   --secundary: #a2ded3;
   --tertiary: #21594f;
   --black: #000000;
   --white: #ffffff;
}
header{
   display: flex;
   justify-content: space-between;
   border-bottom: var(--secundary);
   border-bottom-width: 0.3rem;
   border-bottom-style: solid;
   height: 5rem;
}
header img {
   padding: 0.3rem;
}
header nav {
   display: flex;
   align-items: center;
}
header nav a {
   margin: 0 1rem;
   text-decoration: none;
   color: var(--third);
}
header nav a:hover {
   font-weight: inter;
}
main.index section{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
}
footer {
   height: 3.5rem;
   display: flex;
   align-items: center;
   background-color: var(--tertiary);
}
footer image {
   margin: 0 0.5rem;
}
main {
   min-height: calc(100vh - 8.5rem);
}
main button {
   background-color: var(--black);
   color: var(--white);

}
/* Index*/
main.index section img {
   display: flex;
}
main.index section img {
   height: 100%;
}
/* Comentário*/
main.comentario {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   justify-content: space-around;
   align-content: baseline;
}
main.comentario section {
   background-color: var(--secundary);
   padding: 0.5rem;
   margin: 0.5rem;
   border-radius: 0.5rem;
   min-width: 12rem;
}
main.comentario section aside {
   display: flex;
}
main.comentario aside p {
   font-size: 0.8rem;
   margin-left: 0.5rem;
}